body{
    width:100%;
    height:100%;
    position:fixed;
}

#buttonArea{
    z-index: 1;
    width: 100%;
    text-align: center;
    top: 50%;
    position: fixed;
    border-spacing: 20px 0;
    margin: 0;
    padding: 0;
}